Ocell.UI/Ocell.Phone7/SampleData/TweetSampleData/TweetSampleData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.TweetSampleData" targetNamespace="Expression.Blend.SampleData.TweetSampleData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TweetSampleData" type="tns:TweetSampleData" />
  <xs:complexType name="TweetSampleData">
    <xs:sequence>
      <xs:element name="UsersWhoRetweeted" type="tns:UsersWhoRetweeted" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="1,12" name="ScreenName" type="xs:string" />
    <xs:attribute blend:Format="Name" name="FullName" type="xs:string" />
    <xs:attribute name="Avatar" type="tns:Basic-Image" />
    <xs:attribute blend:FormatParameters="14,10" name="Text" type="xs:string" />
    <xs:attribute blend:Format="Date" name="CreatedDate" type="xs:string" />
    <xs:attribute blend:FormatParameters="2,5" name="Source" type="xs:string" />
    <xs:attribute name="HasImage" type="xs:boolean" />
    <xs:attribute name="HasRetweets" type="xs:boolean" />
    <xs:attribute name="IsMuting" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="UsersWhoRetweeted">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="UsersWhoRetweetedItem" type="tns:UsersWhoRetweetedItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UsersWhoRetweetedItem">
    <xs:sequence>
      <xs:element name="User" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="User">
    <xs:attribute name="ProfileImageUrl" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>